html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #eeefff;
    background-color: #57585f;
    overflow: hidden;
    margin: 0;
    width: 100%;
    min-height: 100%;
}

@-webkit-keyframes backgroundAnimation {
	0% { background-position: 0% 0%; opacity: 0; }
    50% { background-position: 0% 50%; opacity: 1; }
	100% { background-position: 0% 100%; opacity: 0; }
}

@keyframes backgroundAnimation {
	0% { background-position: 0% 0%; opacity: 0; }
    50% { background-position: 0% 50%; opacity: 1; }
	100% { background-position: 0% 100%; opacity: 0; }
}

.background-animation  {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../images/background.png");
    background-position: 0% 0%;
    background-repeat: repeat-y;
    background-size: 100%;
    opacity: 1;
    filter: blur(1px) sepia(50%);
    -webkit-filter: blur(1px) sepia(50%);
    
    -webkit-animation: backgroundAnimation 11s linear infinite;
    animation: backgroundAnimation 11s linear infinite;
}

.warning {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}