@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT_Serif/PTF55F.ttf") format("truetype");
}

@font-face {
  font-family: "Adler";
  src: url("../fonts/Adler/Adler.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSansOTMedium-Regular-Abridged.otf") format("opentype");
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #ffeedd;
    background-color: #252728;
    font-family: Lato;
    overflow: hidden;
    margin: 0;
    width: 100%;
    min-height: 100%;
    text-shadow: 2px 2px #151718;
}

pane {
    position: absolute !important;
    outline: #000000 dotted thin;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: auto;
    height: auto;
    overflow: hidden;
}

pane.menu {
    outline: #000000 solid thin;
    background-color: #525758;
    height: 25px;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

pane.applet {
    top: 25px;
}

pane.main-area {
    width: calc(100% - 250px);
}

pane.overview {
    margin-left: calc(100% - 250px);
}

pane.fonts {
    height: 160px;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    overflow-y: auto;
}

pane.properties {
    top: 160px;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    overflow-y: auto;
}

pane.edit-area {
    height: calc(100% - 200px);
}

pane.viewer {
    top: calc(100% - 200px);
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
 }

pane.toolbox {
    width: 250px;
}

pane.editor {
    margin-left: 250px;
}

pane.position {
    height: 96px;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

pane.tools {
    top: 96px;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    overflow-y: auto;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li text {
    display: inline-block;
    color: #ffeedd;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
}

#menu li a {
    display: inline-block;
    color: #ffeedd;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    transition: background-color 0.5s;
}

#menu li a:hover {
    background-color: #000000;
    transition: background-color 0s;
}

#applet ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

#applet li {
    margin: 4px;
    text-align: center;
}

#applet input {
    text-align: center;
    background-color: inherit;
    border-radius: 5px;
    transition: background-color 0.5s;
}

#applet input:hover {
    background-color: #000000;
    transition: background-color 0s;
}

#applet button {
    display: inline-block;
    border-radius: 2px;
    background-color: #525758;
    opacity: 0.5;
    border: none;
    color: #ffeedd;
    text-align: center;
    padding: 4px;
    width: auto;
    transition: all 0.5s, padding 0.25s;
    cursor: pointer;
}

#applet button:hover {
    font-weight: bold;
    opacity: 1;
    transition: all 0s, padding 0.25s;
}

#applet li a {
    display: inline-block;
    outline: #525758 solid thin;
    width: 100%;
    color: #ffeedd;
    text-align: left;
    text-decoration: none;
    transition: font-size 0.5s;
}

#applet li a:hover {
    background-color: #525758;
    font-size: 160%;
    transition: font-size 0s;
}

#fonts span {
    opacity: 0.5;
    font-size: 70%;
}

#overview li {
    padding: 0px 2px;
}

#overview li a {
    transition: font-size 0.25s;
}

#overview li a:hover {
    transition: font-size 0.25s;
}

.ui-icon
{
    background-image: url(../images/ui-icons_ffeedd_256x240.png) !important;
}

.ui-dialog {
    color: #ffeedd;
}

.ui-dialog-title {
    color: #ffeedd;
}

.ui-dialog-titlebar {
    background: #525758;
}

.ui-dialog-buttonpane {
    color: #ffeedd;
    background: #252728;
}

.ui-dialog button {
    color: #ffeedd !important;
}

.dialog-button-bg {
    background: #525758 !important;
}

.ui-widget {
    color: #ffeedd;
    background: #252728;
}

.ui-widget-content {
    color: #ffeedd;
}

.button-selected {
    opacity: 1 !important;
    font-weight: bold !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    transition: 0.5s;
}

.glyph-selected {
    background-color: #000000;
    border: #ffeedd solid 1px !important;
}

canvas.item {
    float: left;
    border: transparent dotted 1px;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
    transition: border 0.5s;
}

canvas.item:hover {
    border: #ffeedd dotted 1px;
    transition: border 0s;
}

.ui-progressbar {
    position: relative;
}

.ui-progressbar > div {
    background: #525758;
}

#applet-bar > div {
    background: #ffeedd;
}

.progress-label {
    position: absolute;
    left: 4px;
    top: 4px;
    font-weight: bold;
}

.applet-text {
    position: absolute;
    width: calc(100% - 80px);
    left: 4px;
    top: 4px;
    font-weight: bold;
}

.applet-percent {
    position: absolute;
    left: calc(100% - 80px);
    top: 4px;
}

.ui-widget-overlay {
    background: #525758;
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    opacity: 0.5;
    filter: Alpha(Opacity=50);
    transition: 2s;
}

#cover {
    transition: 1s;
}

div.jsoneditor, div.jsoneditor-menu {
    border-color: #151718;
}

div.jsoneditor-menu {
    background-color: #151718;
}

div.jsoneditor-tree, div.jsoneditor textarea.jsoneditor-text {
    background-color: #151718;
    color: #ffeedd;
}

div.jsoneditor-field, div.jsoneditor-value {
    color: #ffeedd;
}

table.jsoneditor-search div.jsoneditor-frame {
    background: #525758;
}

tr.jsoneditor-highlight, tr.jsoneditor-selected {
    background-color: #000000;
}

div.jsoneditor-field[contenteditable=true]:focus, div.jsoneditor-field[contenteditable=true]:hover, div.jsoneditor-value[contenteditable=true]:focus, div.jsoneditor-value[contenteditable=true]:hover, div.jsoneditor-field.jsoneditor-highlight, div.jsoneditor-value.jsoneditor-highlight {
    background-color: #000000;
    border-color: #525758;
}

div.jsoneditor-field.highlight-active, div.jsoneditor-field.highlight-active:focus, div.jsoneditor-field.highlight-active:hover, div.jsoneditor-value.highlight-active, div.jsoneditor-value.highlight-active:focus, div.jsoneditor-value.highlight-active:hover {
    background-color: #000000;
    border-color: #525758;
}

div.jsoneditor-tree button:focus {
    background-color: #000000;
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
    color: #7fffff;
}

div.jsoneditor td.jsoneditor-separator {
    color: #7f7f7f;
}

div.jsoneditor-value.jsoneditor-string {
    color: #7fff7f;
}

div.jsoneditor-value.jsoneditor-object, div.jsoneditor-value.jsoneditor-array {
    color: #ff7fff;
}

div.jsoneditor-value.jsoneditor-number {
    color: #ff7f7f;
}

div.jsoneditor-value.jsoneditor-boolean {
    color: #ffff7f;
}

div.jsoneditor-value.jsoneditor-null {
    color: #7f7fff;
}

div.jsoneditor-value.jsoneditor-invalid {
    color: #000000;
}

ul.jsoneditor-menu {
    background-color: #252728 !important;
}

div.jsoneditor-contextmenu ul li button.jsoneditor-selected,
div.jsoneditor-contextmenu ul li button.jsoneditor-selected:hover,
div.jsoneditor-contextmenu ul li button.jsoneditor-selected:focus {
  color: black;
  background-color: #ff00ff;
}
