body {
    margin-left: 320px;
    margin-right: 80px;
    color: #ffeedd;
    background-color: #102010;
}

.zoomable {
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
    margin: auto;
    position: relative;
    cursor:crosshair;
    
    box-shadow: 0px 0px 5px 1px rgba(127, 127, 127, 0.5),
    2px 2px 10px 0px rgba(127, 127, 127, 0.5);
}

.zoomed {
    width: 64px;
    height: 64px;
    position: fixed;
    left: 108px;
    top: 108px;
    border-radius: 10%;

    background-color: #000000;
    background-repeat: no-repeat;
    
    -ms-transform: scale(4,4); /* IE 9 */
   	-webkit-transform: scale(4,4); /* Safari */
    transform: scale(4,4);

	image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:-webkit-optimize-contrast; /* Safari         */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */

    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5),
    1px 1px 4px 0px rgba(127, 127, 127, 0.5),
    inset 1px 1px 3px 0px rgba(127, 127, 127, 0.5);
    
    display: none;
}
