<!-- Compress using: https://htmlcompressor.com/compressor/ -->

<div class="header">
    
<style>
    a {
        cursor: pointer;
    }
</style>

<!-- Logos -->
<div class="header-content">
    <div id="header-full">
        <a href="/pathfinder/pf2e/"><img src="http://cdn.paizo.com/image/content/PathfinderRPG/BetaLogo.png" alt="Pathfinder Playtest" style="margin: 15px 0 0 0;" width=250></a>
    </div>
    <div id="header-mobile">
        <a href="/pathfinder/pf2e/"><img src="http://cdn.paizo.com/image/content/PathfinderRPG/BetaLogo.png" alt="Pathfinder Playtest" style="margin: 5px 0 0 10px;" height=35></a>
    </div>
</div>

<!-- Search & Navigation -->
<div id="nav-menu" class="nav-menu" style="pointer-events: none;">
    <a showmenu class="menu-link has-subnav" style="pointer-events: auto;"><img src="/pathfinder/images/menu.png"></a>
    <div id="menu" class="menu" style="pointer-events: auto;">
        <ul class="active">
            <li class="search">
                <input id="searchBox" maxlength="256" type="text" name="q" placeholder="Search (press space)" />
            </li>
            <li class="has-subnav">
                <a id="menu-skills" submenu>Skills</a>
                <ul class="level-2">
                    <li><a href="/pathfinder/pf2e/skills/acrobatics.html?activeMenu=menu-skills">Acrobatics</a></li>
                    <li><a href="/pathfinder/pf2e/skills/arcana.html?activeMenu=menu-skills">Arcana</a></li>
                    <li><a href="/pathfinder/pf2e/skills/athletics.html?activeMenu=menu-skills">Athletics</a></li>
                    <li><a href="/pathfinder/pf2e/skills/crafting.html?activeMenu=menu-skills">Crafting</a></li>
                    <li><a href="/pathfinder/pf2e/skills/deception.html?activeMenu=menu-skills">Deception</a></li>
                    <li><a href="/pathfinder/pf2e/skills/diplomacy.html?activeMenu=menu-skills">Diplomacy</a></li>
                    <li><a href="/pathfinder/pf2e/skills/intimidation.html?activeMenu=menu-skills">Intimidation</a></li>
                    <li><a href="/pathfinder/pf2e/skills/lore.html?activeMenu=menu-skills">Lore</a></li>
                    <li><a href="/pathfinder/pf2e/skills/medicine.html?activeMenu=menu-skills">Medicine</a></li>
                    <li><a href="/pathfinder/pf2e/skills/nature.html?activeMenu=menu-skills">Nature</a></li>
                    <li><a href="/pathfinder/pf2e/skills/occultism.html?activeMenu=menu-skills">Occultism</a></li>
                    <li><a href="/pathfinder/pf2e/skills/performance.html?activeMenu=menu-skills">Performance</a></li>
                    <li><a href="/pathfinder/pf2e/skills/religion.html?activeMenu=menu-skills">Religion</a></li>
                    <li><a href="/pathfinder/pf2e/skills/society.html?activeMenu=menu-skills">Society</a></li>
                    <li><a href="/pathfinder/pf2e/skills/stealth.html?activeMenu=menu-skills">Stealth</a></li>
                    <li><a href="/pathfinder/pf2e/skills/survival.html?activeMenu=menu-skills">Survival</a></li>
                    <li><a href="/pathfinder/pf2e/skills/thievery.html?activeMenu=menu-skills">Thievery</a></li>
                </ul>
            </li>
			<!-- Actions -->
            <li>
                <a href="/pathfinder/pf2e/actions.html">Actions</a>
            </li>
			<!-- Conditions -->
            <li>
                <a href="/pathfinder/pf2e/conditions.html">Conditions</a>
            </li>
			<!-- Tactics -->
            <li>
                <a href="/pathfinder/pf2e/tactics.html">Tactics</a>
            </li>
			<!-- Traits -->
            <li>
                <a href="/pathfinder/pf2e/traits.html">Traits</a>
            </li>
			<!-- Glossary -->
            <li>
                <a href="/pathfinder/pf2e/glossary.html">Glossary</a>
            </li>
            <!-- OGL -->
            <li>
                <a href="http://paizo.com/pathfinderRPG/prd/openGameLicense.html">Open Game License</a>
            </li>
        </ul>
    </div>
</div>

</div>

<!-- Added JQuery to fix mobile issue -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous" async></script>
