:root {
    --scale: 2;
}

.gui {
    cursor: default;
    background-clip: padding-box;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.gui.block {
    display: inline-block;
    margin: calc(var(--scale) * 8px);
    vertical-align: top;
}

/* https://gamepedia.cursecdn.com/minecraft_gamepedia/4/44/InvSprite.png */
.item {
    width: calc(var(--scale) * 16px);
    height: calc(var(--scale) * 16px);
    background-image: url(../images/spritesheet.png);
    background-position: 0px calc(var(--scale) * 16px);
    background-size: calc(var(--scale) * 16px) calc(var(--scale) * 1088px);
}

.item.stored {
    float: left;
    position: relative;
    left: calc(var(--scale) * 7px);
    margin: calc(var(--scale) * 1px);
}

.item.stored:active, .item.stored:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.item.anvil-target {
    top: calc(var(--scale) * 4px);
    left: calc(var(--scale) * 26px);
}

.item.anvil-sacrifice {
    top: calc(var(--scale) * 4px);
    left: calc(var(--scale) * 57px);
}

.item.anvil-output {
    top: calc(var(--scale) * 4px);
    left: calc(var(--scale) * 97px);
}

.item.floating {
    position: absolute;
    pointer-events: none;
}

.anvil {
    margin: 0;
}

.anvil.top {
    width: calc(var(--scale) * 176px);
    height: calc(var(--scale) * 42px);
    background-image: url(../images/anvil_top.png);
    background-size: calc(var(--scale) * 176px) calc(var(--scale) * 42px);
}

.anvil.middle {
    width: calc(var(--scale) * 176px);
    height: calc(var(--scale) * 26px);
    background-image: url(../images/anvil_middle.png);
    background-size: calc(var(--scale) * 176px) calc(var(--scale) * 26px);
}

.anvil.bottom {
    width: calc(var(--scale) * 176px);
    height: calc(var(--scale) * 18px);
    background-image: url(../images/anvil_bottom.png);
    background-size: calc(var(--scale) * 176px) calc(var(--scale) * 18px);
}

.anvil-cost {
    background-color: #888;
    float: left;
    position: relative;
    font-family: Minecraftia;
    font-size: calc(var(--scale) * 8px);
    width: calc(var(--scale) * 16px);
    height: calc(var(--scale) * 15px);
    top: calc(var(--scale) * 5px);
    left: calc(var(--scale) * 100px);
}

#anvil-title {
    float: left;
    position: relative;
    font-family: Minecraftia;
    font-size: calc(var(--scale) * 8px);
    top: calc(var(--scale) * 21px);
    left: calc(var(--scale) * 63px);
}

#chest-title {
    float: left;
    font-family: Minecraftia;
    font-size: calc(var(--scale) * 8px);
    margin: calc(var(--scale) * 3px) calc(var(--scale) * 6px) calc(var(--scale) * 1px);
}

#chest-inventory {
    clear: both;
    overflow: hidden;
    height: calc(var(--scale) * 54px);  /* 48px + 6px */
    margin: 0 calc(var(--scale) * 54px) calc(var(--scale) * 13px);
}

#player-inventory {
    clear: both;
    overflow: hidden;
    height: calc(var(--scale) * 54px);  /* 48px + 6px */
    margin-bottom: calc(var(--scale) * 4px);
}

#hotbar-inventory {
    clear: both;
    overflow: hidden;
    height: calc(var(--scale) * 18px);  /* 16px + 2px */
}

.editor {
    width: calc(var(--scale) * 146px);
    height: calc(var(--scale) * 180px);
    background-image: url(../images/editor.png);
    background-size: calc(var(--scale) * 146px) calc(var(--scale) * 180px);
}

.inventory {
    margin-top: calc(var(--scale) * 15px) !important;
    width: calc(var(--scale) * 176px);
    height: calc(var(--scale) * 166px);
    background-image: url(../images/inventory.png);
    background-size: calc(var(--scale) * 176px) calc(var(--scale) * 166px);
}

.json {
    font-family: Minecraftia;
    font-size: calc(var(--scale) * 5px);
    background-color: transparent;
    border: none;
    outline: none;
    width: calc(var(--scale) * 114px);
    height: calc(var(--scale) * 152px);
    margin: calc(var(--scale) * 12px) calc(var(--scale) * 16px) calc(var(--scale) * 8px) calc(var(--scale) * 16px);
    resize: none;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fgEnchantment {
    color: #7fff1f;
}

.fgEnchantment.shadow {
    text-shadow: 0.2ex 0.2ex 0px #1f3f08; 
}