@font-face {
    font-family: "Minecraftia";
    src: url("../fonts/Minecraftia/Minecraftia.ttf") format("truetype");
}

:root {
    --fg0: #000;
    --fg1: #00a;
    --fg2: #0a0;
    --fg3: #0aa;
    --fg4: #a00;
    --fg5: #a0a;
    --fg6: #fa0;
    --fg7: #aaa;
    --fg8: #555;
    --fg9: #55f;
    --fgA: #5f5;
    --fgB: #5ff;
    --fgC: #f55;
    --fgD: #f5f;
    --fgE: #ff5;
    --fgF: #fff;
    --bg0: #000000;
    --bg1: #00002a;
    --bg2: #002a00;
    --bg3: #002a2a;
    --bg4: #2a0000;
    --bg5: #2a002a;
    --bg6: #2a2a00;
    --bg7: #2a2a2a;
    --bg8: #151515;
    --bg9: #15153f;
    --bgA: #153f15;
    --bgB: #153f3f;
    --bgC: #3f1515;
    --bgD: #3f153f;
    --bgE: #3f3f15;
    --bgF: #3f3f3f;
}

body {
    font-family: Minecraftia;
    font-size: 16px;
}

a {
    color: var(--fgF);
    text-decoration: none;
}

.button {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    width: 400px;
    height: 40px;
    cursor: pointer;
    margin: 0.4ex;
    background-clip: padding-box;
    background-image: url(../images/buttons.png);
    background-position: 0px -40px;
    background-repeat: no-repeat;
    background-size: 400px 120px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.button.disabled, .button.disabled:active, .button.disabled:hover {
    background-position: 0px 0px;
    cursor: default;
    color: #9e9e9e !important;
    text-shadow: 0.2ex 0.2ex 0px #272727 !important;
}

.button.disabled span, .button.disabled:active span, .button.disabled:hover span {
    cursor: default;
}

.button:active, .button:hover {
    background-position: 0px -80px;
}

.dirt {
    background-image: url("../images/dirt.png");
    background-repeat: repeat;
    background-size: 64px 64px; 
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.darker.dirt {
    background-image: url("../images/darker_dirt.png");
}

.footer {
    position: fixed;
    bottom: 0;
    font-size: 8px;
    text-align: left;
    margin: 30px 10px 5px 10px;
}

.head {
    margin: 8px;
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.tooltip.content {
    position: relative;
    font-size: 16px;
    line-height: 2.0ex;
    background-color: rgba(16, 0, 16, 0.94);
    padding: 0ex 0.4ex 0.4ex 0.4ex; 
}

.tooltip.content > .tooltip-title {
    padding-bottom: 0.4ex;
}

.tooltip.border {
    position: absolute;
    font-size: 16px;
    border: solid 0.4ex;
    border-image: url("../images/tooltip.png") 2;
}

.overlay {
    position: fixed;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

input {
    background-color: black;
    color: #e0e0e0;
    cursor: default;
    font-family: Minecraftia;
    font-size: 16px;
    line-height: 36px;
    text-shadow: 0.2ex 0.2ex 0px rgba(112, 112, 112, 0.5);
    border: 0.2ex solid #a0a0a0;
    padding: 0ex 0.8ex;   
    margin: 0.4ex;
    width: calc(400px - 2.0ex);
    height: calc(40px - 0.4ex);
    outline: none;
}

input:focus {
    border: 0.2ex solid white;
}

.fg0 { color: var(--fg0); }
.fg1 { color: var(--fg1); }
.fg2 { color: var(--fg2); }
.fg3 { color: var(--fg3); }
.fg4 { color: var(--fg4); }
.fg5 { color: var(--fg5); }
.fg6 { color: var(--fg6); }
.fg7 { color: var(--fg7); }
.fg8 { color: var(--fg8); }
.fg9 { color: var(--fg9); }
.fgA { color: var(--fgA); }
.fgB { color: var(--fgB); }
.fgC { color: var(--fgC); }
.fgD { color: var(--fgD); }
.fgE { color: var(--fgE); }
.fgF { color: var(--fgF); }
.fgO { font-style: italic; }

.fg0.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg0); }
.fg1.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg1); }
.fg2.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg2); }
.fg3.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg3); }
.fg4.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg4); }
.fg5.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg5); }
.fg6.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg6); }
.fg7.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg7); }
.fg8.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg8); }
.fg9.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bg9); }
.fgA.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bgA); }
.fgB.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bgB); }
.fgC.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bgC); }
.fgD.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bgD); }
.fgE.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bgE); }
.fgF.shadow { text-shadow: 0.2ex 0.2ex 0px var(--bgF); }

.bg0 { color: var(--bg0); }
.bg1 { color: var(--bg1); }
.bg2 { color: var(--bg2); }
.bg3 { color: var(--bg3); }
.bg4 { color: var(--bg4); }
.bg5 { color: var(--bg5); }
.bg6 { color: var(--bg6); }
.bg7 { color: var(--bg7); }
.bg8 { color: var(--bg8); }
.bg9 { color: var(--bg9); }
.bgA { color: var(--bgA); }
.bgB { color: var(--bgB); }
.bgC { color: var(--bgC); }
.bgD { color: var(--bgD); }
.bgE { color: var(--bgE); }
.bgF { color: var(--bgF); }
