<!-- Compress using: https://htmlcompressor.com/compressor/ -->

<div class="header">
    
<style>
    a {
        cursor: pointer;
    }
</style>

<!-- Logos -->
<div class="header-content">
    <div id="header-full">
        <a href="/pathfinder/projectRed/?activeMenu=menu-rules"><img src="/pathfinder/images/ProjectRed.png" alt="Project Red" style="margin: 15px 0 0 0;" width=250></a>
    </div>
    <div id="header-mobile">
        <a href="/pathfinder/projectRed/?activeMenu=menu-rules"><img src="/pathfinder/images/ProjectRed.png" alt="Project Red" style="margin: 5px 0 0 10px;" height=35></a>
    </div>
</div>

<!-- Search & Navigation -->
<div id="nav-menu" class="nav-menu" style="pointer-events: none;">
    <a showmenu class="menu-link has-subnav" style="pointer-events: auto;"><img src="/pathfinder/images/menu.png"></a>
    <div id="menu" class="menu" style="pointer-events: auto;">
        <ul class="active">
            <li class="search">
                <input id="searchBox" maxlength="256" type="text" name="q" placeholder="Search (press space)" />
            </li>
            <li class="has-subnav">
                <a id="menu-rules" submenu>Project Red Rules</a>
                <ul class="level-2">
                    <li><a href="/pathfinder/projectRed/general.html?activeMenu=menu-rules">General Changes</a></li>
                    <li><a href="/pathfinder/projectRed/races.html?activeMenu=menu-rules">Races</a></li>
                    <li><a href="/pathfinder/projectRed/skills.html?activeMenu=menu-rules">Skills</a></li>
                    <li><a href="/pathfinder/projectRed/morality.html?activeMenu=menu-rules">Morality</a></li>
                    <li><a href="/pathfinder/projectRed/combat.html?activeMenu=menu-rules">Combat</a></li>
                    <li><a href="/pathfinder/projectRed/currency.html?activeMenu=menu-rules">Currency</a></li>
                </ul>
            </li>
            <!-- Classes -->
            <li class="has-subnav">
                <a id="menu-classes" submenu>Classes</a>
                <ul class="level-2">
                    <li><a href="/pathfinder/projectRed/classes/barbarian/?activeMenu=menu-classes">Barbarian</a></li>
                    <li><a href="/pathfinder/projectRed/classes/bard/?activeMenu=menu-classes">Bard</a></li>
                    <li><a href="/pathfinder/projectRed/classes/brawler/?activeMenu=menu-classes">Brawler</a></li>
                    <li><a href="/pathfinder/projectRed/classes/cleric/?activeMenu=menu-classes">Cleric~</a></li>
                    <li><a href="/pathfinder/projectRed/classes/monk/?activeMenu=menu-classes">Monk</a></li>
                    <li><a href="/pathfinder/projectRed/classes/oracle/?activeMenu=menu-classes">Oracle</a></li>
                    <li><a href="/pathfinder/projectRed/classes/paladin/?activeMenu=menu-classes">Paladin</a></li>
                    <li><a href="/pathfinder/projectRed/classes/wizard/?activeMenu=menu-classes">Wizard</a></li>
                </ul>
            </li>
            <!-- Magic -->
            <li class="has-subnav">
                <a id="menu-magic" submenu>Magic</a>
                <ul class="level-2">
                    <li><a href="/pathfinder/projectRed/magic/arcane/?activeMenu=menu-magic">Arcane Magic</a></li>
                    <li><a href="/pathfinder/projectRed/magic/divine/?activeMenu=menu-magic">Divine Magic</a></li>
                    <li><a href="/pathfinder/projectRed/magic/supernatural/?activeMenu=menu-magic">Supernatural Abilities</a></li>
                    <li><a href="/pathfinder/projectRed/magic/magicIndex/?activeMenu=menu-magic">Magic Index</a></li>
                </ul>
            </li>
			<!-- Character Sheets -->
            <li>
                <a href="/pathfinder/projectRed/sheets">Character Sheets</a>
            </li>
            <!-- OGL -->
            <li>
                <a href="http://paizo.com/pathfinderRPG/prd/openGameLicense.html">Open Game License</a>
            </li>
        </ul>
    </div>
</div>

</div>

<!-- Added JQuery to fix mobile issue -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous" async></script>
